/* RaptureTherapyAdmin.css: V1.0.0.0: 2025_12_23: Created. */

#divLogo {
    padding-left: 10px;
    float: left;
}

#divTitleAndTagLine {
    float: left;
}

#divTitle {
    float: left;
}

#divTagLine {
    clear: left;
}

#divDateAndTime {
    color: mediumvioletred;
}

#imgLogo {
    height: 75px;
}

#iTagLine {
    color: violet;
}

nav {
    clear: both;
    --items: 6;
}

h1 {
    color: orange;
}

th {
    background-color: #FFC000;
    color: #C00000;
    font-weight: bold;
}

th, td {
    padding: 4px 4px 4px 4px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

    table#tableAbout, #tableAbout td {
        border: none;
    }

.alert {
    padding: 10px 20px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.text-danger {
    color: #dc3545;
}
