@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@section MetaTags {
    <meta name="keywords" content="Rapture Therapy, In Memory, Heritage, Legacy, Societal Development">
}

<h1>Home</h1>
